.wrapper{
    display: flex;
}
.container {
  border: 1px solid #81AD6A;
  padding: 10px;
  overflow: hidden;
  border-radius: 5px;
  text-shadow: 0px 1px 5px rgba(25, 25, 25, 0.6);
  /*font-family: "Hiragino Sans GB", "Hiragino Sans GB W3", "Hiragino Sans GB W6", "microsoft yahei", Helvetica, Arial, sans-serif !important;*/


}
*{
    /*font-family: "Open Sans", "Hiragino Sans GB","华文细黑",STHeiti,"微软雅黑","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif!important;*/

}
html,
div,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    font-family: "Open Sans","PingFang SC", "Hiragino Sans GB", "Hiragino Sans GB W3", "Hiragino Sans GB W6", "microsoft yahei", Helvetica, Arial, sans-serif;;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight:400;
}
button{
    background:#333;
    border:0px;
}
button:hover{
    color:#81AD6A;
    background:#333;
    border:0px;
}
.container img{
  width: 100% !important;
}
.center{
    text-align:center;
}
.left{
    text-align:left;
}
.h1{
    font-size: 26px !important;
    letter-spacing: 2px !important;
    a{
        line-height: 150% !important;
    }
}
.zdIcon{
    text-align:center;
    position: relative;
    top: -15px;
    > a{
        background-color: #fff;
        filter: alpha(opacity=20);
        opacity: .2;
        display: inline-block;
        width: 32px;
        height: 32px;
        font-size: 16px;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        -ms-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        border: 0!important;
        outline: 0!important;
        margin: 0px 3px;
        border-radius: 5px;

    }
    > a:hover{
        filter: alpha(opacity=40);
        opacity: .4;
    };
    > a:hover span{
        color:#000 !important;
    };
}

strong{
    display: inline-block;
    /*font-weight: normal !important;*/
    margin-right: 1px;
}

div, p{
    /*font-family: "Courier New",Helvetica,Arial,sans-serif !important;*/

    color: #ddd !important;
    font-size: 16px;
    line-height: 28px;

}
#u-editor div, p{
    /*font-family: "Courier New",Helvetica,Arial,sans-serif !important;*/
    color: #333 !important;
    font-size: 16px;
    line-height: 28px;

}
.small{
    font-size: 10px !important;
}

.editorBox{
    width:700px;
    margin-bottom: 30px;
    background:#fff;
}
.editorMenu{
    display:block;
    width:700px;
    height:22px;
    overflow:hidden;
    clear:both;
    background:#efefef;
    > li{
        list-style: none;
        width:22px;
        height:22px;
        display:inline-block;
        float:left;
        margin: 0px 2px;
        > i{
            width:22px;
            height:22px;
            cursor:pointer;
            &:hover{
                color:#ccc;
            };
        }
    }
}
.editor{
    display:block;
    height: 380px;
    width:100%;
    text-align:left;
    line-height: 18px !important;
    color:#333 !important;
    padding:0px 12px;
    overflow-y:auto;
    &:focus {
        outline: -webkit-focus-ring-color auto 0px;
    }
}
.editor p{
    margin: 0px !important;
}
.editor2{
    display:block;
    height: 380px;
    width:100%;
    text-align:left;
    line-height: 18px !important;
    color:#333 !important;
    padding:0px 12px;
    overflow-y:auto;
    background: #efefef;
    &:focus {
        outline: -webkit-focus-ring-color auto 0px;
    }
    z-index:10;
    position:relative;
    top: -390px;
}

button{
    border-radius:5px;
}

video{
    width: 100%;
}

